/* المتغيرات */
:root {
  --color-bg: #f0f0f0;
  --color-purple: #864cff;
  --color-light-gray: #dbdbdbff;
  --color-gray: #8a8a8a;
  --color-black: #151515;
  --color-white: #ffffff;
  --color-red: #ff5757ff;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}